
* {
    border: none;
    background: none;
    text-decoration: none;
    outline: none;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-top: 65px;
    width: 80%;
    margin-left: 10%;
}

a {
    color: #0088ff;
}

a:not(.h3):hover {
    text-decoration: underline;
}

div.center {
    text-align: center;
    padding-bottom: 65px;
}

h1.title {
    font-size: 46px;
    font-weight: 300;
    margin-bottom: 15px;
}

a.h3 {
    display: block;
    font-size: 22px;
    width: 100%;
    border-bottom: .5px solid rgba(0, 0, 0, .15);
    padding: 0 0 5px 0;
    font-family: Merriweather, serif;
    color: black;
}

a.h3::before {
    content: '#';
    margin-right: 5px;
    color: rgba(0, 0, 0, 0);
    transition-duration: .3s;
    font-weight: 600;
}

a.h3:hover::before {
    color: rgba(0, 0, 0, .25);
}

section {
    margin-bottom: 65px;
}

code {
    padding: 5px 15px;
    background-color: #ddf0f1;
    border-radius: 5px;
    border-left: 3px solid #19ad97;
}

div.descriptions {
    display: inline-block;
    text-align: right;
    width: 45%;
    color: rgba(0, 0, 0, .45);
    margin-right: 3%;
}

div.descriptions img {
    transform: translateY(5px);
    margin-left: 15px;
}

div.endpoints {
    display: inline-block;
    text-align: left;
    width: 45%;
}
