root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[{*.{html,ejs,svg},CNAME,Procfile}]
insert_final_newline = false

[*.svg]
indent_style = space
indent_size = 2

[{package.json,package-lock.json}]
indent_style = space
indent_size = 2
